Source: bbswitch
Section: kernel
Priority: optional
Maintainer: Eric Appleman <erappleman@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), bzip2
Standards-Version: 3.9.1
Homepage: https://github.com/mkottman/acpi_call
Vcs-Git: git://github.com/Bumblebee-Project/acpi_call.git
Vcs-Browser: https://github.com/Bumblebee-Project/acpi_call

Package: bbswitch-tools
Architecture: any
Depends: dkms (>= 1.95), ${misc:Depends}
Description: acpi_call kernel module.
 acpi_call kernel module to make ASL calls to ACPI.

Package: bbswitch-source
Architecture: all
Depends: module-assistant, debhelper (>= 7), make, bzip2
Description: source for the acpi_call kernel module.
 This package provides the source code for the acpi_call kernel modules.
 The acpi_call package is also required in order to make use of these
 modules. Kernel source or headers are required to compile these modules.
